* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 头部导航栏开始 */

#head {
    width: 1198px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.head {
    display: flex;
    justify-content: space-around;
}

.head-img {
    width: 186px;
    height: 58px;
    margin-top: 21px;
}


/* .head-ul li {
  display: inline-block;
  margin-top: 40px;
  padding-right: 65px;
}

.head-ul li a {
  color: #333333;
  font-size: 16px;
}

.head-ul li a:hover {
  color: #168BFF;
} */


/* 头部导航 */

#nav-div {
    height: 100px;
    display: flex;
    justify-content: center;
    /* background-color: aquamarine; */
}

#nav-div li {
    width: 120px;
    list-style: none;
    /* padding-right: 65px; */
}

#nav-div a {
    text-decoration: none;
    /* width: 64px;
    height: 21px; */
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: #333333;
    /* line-height: 21px; */
}

#nav-div a:hover {
    color: #2A72FF;
}

#nav-div li ul {
    display: none;
}

#nav-div li:hover ul {
    display: block;
    /* width: 100px; */
}

.nav-li {
    position: relative;
    margin-top: 37px;
}

.nav-li:hover {
    position: relative;
    z-index: 8;
}

.triangle {
    display: inline;
    border: 7px solid transparent;
    border-top: 7px solid #AAAAAA;
    position: absolute;
    top: 9px;
    left: 70px;
}

.nav-li:hover .triangle {
    border: 7px solid transparent;
    border-bottom: 7px solid #2A72FF;
    position: absolute;
    top: 1px;
}

.free {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 88px;
    height: 100px;
    background: linear-gradient(360deg, #1664FF 0%, #168BFF 100%);
}

.free a {
    color: #FFFFFF !important;
    font-size: 16px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
}


/* 头部导航栏结束 */

.swiper-pagination {
    --swiper-pagination-color: #ffffff;
}


/* 创朝H5游戏系统V5.2 */

.sys {
    height: 547px;
    width: 100%;
    background-color: #fff;
}

.sys-item {
    max-width: 1200px;
    height: 547px;
    background: #fff;
    margin: 0 auto;
    padding: 98px 0px 0px 0px;
    display: flex;
}

.left {
    width: 598px;
    height: 418px;
}

.left img {
    width: 598px;
    height: 418px;
}

.right1 {
    padding-left: 190px;
}

.right1 .right-p {
    height: 35px;
    font-size: 26px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 35px;
    margin: 67px 0 27px 0;
}

.right1 p {
    height: 21px;
    font-size: 16px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #666666;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 11px;
}

.right1 p span {
    color: #666666;
    font-weight: bold;
}


/* 产品特色 */

.char {
    width: 100%;
    height: 800px;
    background: #fff;
}

.char-item {
    max-width: 1258px;
    height: 800px;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
}

.char-item h4 {
    height: 35px;
    font-size: 26px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 35px;
    text-align: center;
    margin: 75px 0px 13px 0px;
}

.char-item h5 {
    height: 21px;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: #666666;
    line-height: 21px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 68px;
}

.char-ul {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.char-ul li {
    width: 396px;
    height: 291px;
    background: url(./images/img2.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 20px 8px 0;
}

.char-ul li img {
    /* width: 76px;
    height: 76px; */
    width: 68px;
    height: 60px;
    display: block;
    margin: 0 auto;
    margin-top: 51px; /*图片的原本宽度是76px，上边距是35px*/
}

.char-ul li .p {
    height: 24px;
    font-size: 18px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 24px;
    text-align: center;
    margin: 24px 0;
}

.char-ul li .p1 {
    width: 296px;
    height: 57px;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    color: #666666;
    line-height: 19px;
    text-align: center;
    margin-left: 50px;
}


/* 功能模块 */

.fun {
    width: 100%;
    height: 853px;
    background: #F8F9FD;
    padding-top: 81px;
}

.fun-item {
    max-width: 1200px;
    height: 698px;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
}

.fun-item h4 {
    height: 35px;
    font-size: 26px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 35px;
    text-align: center;
    margin: 60px 0 13px 0;
}

.fun-item h5 {
    height: 21px;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: #666666;
    line-height: 21px;
    text-align: center;
    margin-bottom: 21px;
    font-weight: 500;
}

.fun-div {
    width: 1200px;
    display: flex;
}

#nav {
    height: 493px;
    border-right: 1px solid #E1E1E1;
    padding-top: 28px;
}

#nav li {
    width: 130px;
    height: 36px;
    font-size: 16px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 32px;
    text-align: right;
    margin-bottom: 25px;
    padding-right: 25px;
    border: 2px solid rgba(0, 0, 0, 0);
}

#nav .act {
    border-right: 2px solid #2A72FF;
    color: #2A72FF;
    background: #E5F3FC;
}

#nav li:hover {
    background: #E5F3FC;
    border-right: 2px solid #2A72FF;
    color: #2A72FF;
}

#container {
    width: 1071px;
    background-color: #fff;
}

#container .tab {
    width: 100%;
    height: 100%;
    padding: 64px 0 0 57px;
}

.tab-div {
    display: flex;
    position: relative;
}

.tab-center {
    width: 421px;
    height: 285px;
    border: 1px dashed #D3D3D3;
}

.tab-center img {
    display: block;
    width: 370px;
    height: 196px;
    margin: 44px 0 0 18px;
}

.tab-ul {
    margin-left: 57px;
    width: 467px;
}

.tab-ul li {
    width: 467px;
    display: flex;
    overflow: hidden;
}

.tab-ul li span {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: linear-gradient(360deg, #1664FF 0%, #168BFF 100%);
    margin-top: 8px;
    margin-right: 2px;
}

.tab-ul li .span {
    margin-top: 19px;
}

.tab-ul li .li-p {
    width: 454px;
    height: 57px;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    color: #333333;
    line-height: 19px;
    margin-top: 11px;
}

.tab-ul li p {
    height: 38px;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    color: #333333;
    line-height: 19px;
}

.img1 {
    width: 120px;
    height: 40px;
    position: absolute;
    top: 352px;
    left: 271px;
    cursor: pointer;
}

.img2 {
    width: 120px;
    height: 40px;
    position: absolute;
    top: 352px;
    left: 478px;
    cursor: pointer;
}


/* 游戏渠道 */

.channel {
    width: 100%;
    height: 727px;
    background-color: #fff;
}

.channel-item {
    max-width: 1264px;
    height: 727px;
    margin: 0 auto;
    overflow: hidden;
}

.channel-item h4 {
    height: 35px;
    font-size: 26px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 35px;
    text-align: center;
    margin: 86px 0 68px 0;
}

.game-ul {
    width: 1264px;
    display: flex;
    flex-wrap: wrap;
}

.game-ul li {
    width: 158px;
    height: 145px;
    /* background: chartreuse; */
    overflow: hidden;
}

.game-ul li img {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
    margin-bottom: 17px;
    margin-top: 39px;
}

.game-ul li p {
    font-size: 14px;
    font-family: MicrosoftYaHei;
    color: #333333;
    text-align: center;
}


/* 底部 */

body {
    margin: 0;
    padding: 0;
}

footer {
    width: 100%;
    height: 400px;
    background: #303234;
}

.footer {
    max-width: 1200px;
    /* width: 1920px; */
    height: 340px;
    margin: 0 auto;
}

.footer-top {
    max-width: 1200px;
    height: 340px;
    display: flex;
}

.footer-top .left {
    width: 746px;
    height: 340px;
    padding: 80px 161px 0px 0px;
}

.footer-top .left img {
    width: 202px;
    height: 46px;
    margin-bottom: 10px;
}

.footer-top .left p {
    width: 210px;
    font-size: 15px;
    color: #FFFFFF;
    font-family: MicrosoftYaHei;
    text-align: center;
}


/* 右边 */

.footer-top .right {
    width: 1174px;
    height: 340px;
    /* background: purple; */
    padding-top: 80px;
}

.footer-top .right .ul {
    width: 1174px;
    height: 19px;
    display: flex;
    /* margin-bottom: 39px; */
}

.footer-top .right ul li {
    color: #fff;
    margin-right: 73px;
    /* float: left; */
}

.footer-top .right ul .li1 {
    margin-right: 0;
}

.footer-top .right ul .li2 {
    margin-left: 32px;
    margin-right: 35px;
}

.footer-top .right ul li a {
    color: #FFFFFF;
    font-size: 14px;
}

.footer-top .right img {
    width: 1174px;
    height: 61px;
}

.footer-top .right div {
    height: 183px;
    width: 1174px;
    display: flex;
}

.footer-top .right div ul {
    width: 334px;
    height: 183px;
    margin-right: 103px;
}

.footer-top .right div ul li {
    width: 334px;
    color: #C8C8C8;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-top .right div ul li span {
    color: #C8C8C8;
}

.footer-top .right div ul li a {
    color: #C8C8C8;
    margin-right: 30px;
}

.footer-top .right div ul .li-1 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}

.f-bottom {
    width: 100%;
    background: #26282A;
}

.footer-bottom {
    max-width: 1200px;
    width: 1920px;
    height: 60px;
    display: flex;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.footer-bottom p {
    width: 1920px;
    height: 60px;
    background: #26282A;
    color: #C8C8C8;
    font-size: 14px;
    font-family: MicrosoftYaHei;
}

.footer-bottom img {
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    left: 260px;
}