html{
	font-size: calc(100vw / 7.5);
}
/* 头部 */
.head{
    width: 100%;
    height: 0.88rem;
    background: #fff;
    display: flex;
    position: relative;
}
.head .im1{
    width: 0.5rem;
    height: 0.5rem;
    display: block;
    margin: auto 0;
    margin-left: 0.34rem;
    margin-right: 0.2rem;
}
.head .im2{
    width: 1.51rem;
    height: 0.35rem;
    display: block;
    margin: auto 0;
}
.head .im3{
    width: 0.34rem;
    height: 0.34rem;
    position: absolute;
    top: 0.28rem;
    right: 0.27rem;
}
/* 导航 */
.nav{
    width: 2.07rem;
    height: 3.41rem;
    background:rgba(0, 0, 0, 0.78);
    border-radius: 0.08rem;
    position: absolute;
    top: 0.99rem;
    right: 0.12rem;
    z-index: 99;
    display: none;
}
.nav ul{
    width: 2.07rem;
    height: 3.41rem;
    padding: 0 0.26rem 0 0.27rem;
}
.nav ul li{
    height: 0.56rem;
    border-bottom: 0.01rem solid #FFFFFF;
    font-size: 0.20rem;
    font-family: MicrosoftYaHei;
    color: #E3E3E3;
    line-height: 0.56rem;
    text-align: center;
}
.nav ul li:nth-child(6){
    border-bottom: none;
}
.nav ul li a{
    color: #E3E3E3;
}
/* 新闻资讯 */
.new{
    width: 100%;
    height: 2.6rem;
    background: url(./images/bg2.png) no-repeat;
    background-size: 100% 100%;
}
.new div{
    width: 100%;
    height: 2.6rem;
    position: relative;
}
.new div .p1{
    height: 0.45rem;
    font-size: 0.34rem;
    font-family: MicrosoftYaHei;
    color: #FFFFFF;
    line-height: 0.45rem;
    position: absolute;
    top: 0.69rem;
    left: 0.37rem;
}
.new div .p2{
    height: 0.45rem;
    font-size: 0.34rem;
    font-family: MicrosoftYaHei;
    color: #FFFFFF;
    line-height: 0.45rem;
    position: absolute;
    top: 1.27rem;
    left: 0.37rem;
}
/* 最新发布 */
.latest{
    width: 100%;
    height: 12.22rem;
    background: #FFFFFF;
    padding: 0 0.3rem;
}
.latest h4{
    height: 0.76rem;
    
    display: flex;
}
.latest h4 .sp1{
    width: 1.12rem;
    height: 0.37rem;
    font-size: 0.28rem;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    margin-top: 0.32rem;
    margin-right: 0.12rem;
}
.latest h4 .sp2{
    height: 0.19rem;
    font-size: 0.14rem;
    font-family: MicrosoftYaHei;
    color: #999999;
    margin-top: 0.37rem;
    font-weight: 500;
}
.latest-ul{
    width: 100%;
}
.latest-ul li{
    width: 100%;
    height: 2.01rem;
    border-top: 0.01rem solid #D7D7D7;
    display: flex;
}
.latest-ul li img{
    width: 2.01rem;
    height: 1.41rem;
    display: block;
    margin: auto 0;
    margin-right: 0.3rem;
}
.li-div{
    overflow: hidden;
}
.li-div h5{
    height: 0.29rem;
    font-size: 0.22rem;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 0.29rem;
    margin-top: 0.26rem;
    margin-bottom: 0.09rem;
}
.li-div .p{
    width: 4.40rem;
    height: 0.54rem;
    font-size: 0.20rem;
    font-family: MicrosoftYaHeiLight;
    color: #666666;
    line-height: 0.27rem;
    margin-bottom: 0.17rem;
}
.li-div .d-iv{
    height: 0.38rem;
    display: flex;
    justify-content: space-between;
}
/* .li-div .d-iv img{
    width: 1.1rem;
    height: 0.38rem;
} */
.li-div .d-iv .d{
    width: 1.10rem;
    height: 0.38rem;
    background: #FFFFFF;
    border: 0.01rem solid #DCDCDC;
    display: flex;
    padding-left: 0.11rem;
}
.li-div .d-iv .d span{
    height: 0.38rem;
    font-size: 0.22rem;
    line-height: 0.34rem;
}
.li-div .d-iv .d img{
    width: 0.2rem;
    height: 0.2rem;
    display: block;
    margin: auto 0;
    margin-left: 0.05rem;
}
.li-div .d-iv .div-p1{
    height: 0.38rem;
    font-size: 0.18rem;
    font-family: MicrosoftYaHei;
    color: #999999;
    line-height: 0.38rem;
}
.lat-ul{
    display: flex;
    margin-top: 0.2rem;
}
.lat-ul li{
    width: 0.38rem;
    height: 0.38rem;
    border: 0.01rem solid #BABABA;
    text-align: center;
    line-height: 0.38rem;
    font-size: 0.20rem;
    margin-right: 0.08rem;
    color: #999;
}
.lat-ul .li{
    border: 0.01rem solid #158Aff;
    color: #158aff;
}
.lat-ul li:last-child{
    width: 0.8rem;
    height: 0.36rem;
    line-height: 0.36rem;
}
.lat-ul li:hover{
    border: 0.01rem solid #158Aff;
    color: #158AFF;
}
/* 底部 */
.foot{
    width: 100%;
    height: 2.48rem;
    background: #303234;
    overflow: hidden;
    position: relative;
}
.div{
    display: flex;
    margin: 0.41rem 0 0.1rem 0.31rem;
}
.div .img1{
    width: 0.56rem;
    height: 0.56rem;
    margin-right: 0.22rem;
}
.div .img2{
    width: 1.73rem;
    height: 0.4rem;
    display: block;
    margin: auto 0;
}
.foot .p{
    height: 0.24rem;
    font-size: 0.18rem;
    font-family: MicrosoftYaHei;
    color: #FFFFFF;
    line-height: 0.24rem;
    padding-left:0.31rem;
    margin-bottom: 0.36rem;
    opacity: 0.8;
}
.foot .p1{
    height: 0.26rem;
    font-size: 0.20rem;
    font-family: MicrosoftYaHei;
    color: #C1C1C1;
    line-height: 0.26rem;
    padding-left: 0.3rem;
    margin-bottom: 0.04rem;
}
.foot .p2{
    height: 0.26rem;
    font-size: 0.20rem;
    font-family: MicrosoftYaHei;
    color: #C1C1C1;
    line-height: 0.26rem;
    padding-left: 0.3rem;
}
.foot .d1{
    width: 0.96rem;
    /* height: 0.96rem; */
    position: absolute;
    top: 0.36rem;
    right: 0.3rem;
}
.foot .d1 img{
    width: 0.96rem;
    height: 0.96rem;
    display: block;
    margin-bottom: 0.12rem;
}
.foot .d1 p{
    height: 0.24rem;
    font-size: 0.18rem;
    font-family: MicrosoftYaHei;
    color: #C8C8C8;
    line-height: 0.24rem;
    text-align: center;
}
.foot-b{
    width: 100%;
    height: 0.52rem;
    display: flex;
    background: #26282A;
    justify-content: center;
}
.foot-b p{
    font-size: 0.18rem;
    font-family: MicrosoftYaHei;
    color: #9A9A9A;
    line-height: 0.52rem;
    text-align: center;
    
}
.foot-b img{
    width: 0.18rem;
    height: 0.19rem;
    display: block;
    margin: auto 0;
    margin-right: 0.08rem;
}