* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* 头部导航栏开始 */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#head {
    width: 1198px;
    margin: 0 auto;
}

.head {
    display: flex;
    justify-content: space-around;
}

.head-img {
    width: 186px;
    height: 58px;
    margin-top: 21px;
}


/* 头部导航 */

#nav-div {
    height: 100px;
    display: flex;
    justify-content: center;
    /* background-color: aquamarine; */
}

#nav-div li {
    width: 120px;
    list-style: none;
    /* padding-right: 65px; */
}

#nav-div a {
    text-decoration: none;
    /* width: 64px;
    height: 21px; */
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: #333333;
    /* line-height: 21px; */
}

#nav-div a:hover {
    color: #2A72FF;
}

#nav-div li ul {
    display: none;
}

#nav-div li:hover ul {
    display: block;
    /* width: 100px; */
}

.nav-li {
    position: relative;
    margin-top: 37px;
}

.nav-li:hover {
    position: relative;
    z-index: 8;
}

.triangle {
    display: inline;
    border: 7px solid transparent;
    border-top: 7px solid #AAAAAA;
    position: absolute;
    top: 9px;
    left: 70px;
}

.nav-li:hover .triangle {
    border: 7px solid transparent;
    border-bottom: 7px solid #2A72FF;
    position: absolute;
    top: 1px;
}

.free {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 88px;
    height: 100px;
    background: linear-gradient(360deg, #1664FF 0%, #168BFF 100%);
}

.free a {
    color: #FFFFFF !important;
    font-size: 16px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
}


/* 头部导航栏结束 */

.bigbig {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2559px;
    height: 609px;
    margin: auto;
    background: url(./images/111.png) no-repeat;
    position: relative;
    background-size: 100% 100%;
}

.phone {
    margin-right: 152px;
    margin-top: 107px;
}

.bigtext {
    margin-top: 161px;
}

.i {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.small {
    display: flex;
    padding-top: 76px;
}

.pic3 {
    margin-block-end: 60px;
}

.img2 {
    padding-right: 65px;
}

.text1 {
    width: 600px;
    height: 58px;
    font-size: 55px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: #FFFFFF;
}

.text2 {
    width: 329px;
    height: 26px;
    font-size: 24px;
    font-family: Source Han Sans CN;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 52px;
}

.ios {
    margin-bottom: 10px;
}

.android {
    display: block;
}

#one {
    display: flex;
    justify-content: center;
    margin-top: 118px;
    margin-left: 200px;
}

.one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 107px;
    position: relative;
}

.sp {
    display: flex;
}

#sp {
    margin-top: 8px;
}

.line1 {
    width: 72px;
    height: 3px;
    position: absolute;
    top: 300px;
    left: 5px;
    background-color: #2A72FF;
}

#two {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 163px;
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 177px;
    position: relative;
}

.line2 {
    width: 72px;
    height: 3px;
    position: absolute;
    top: 300px;
    left: 5px;
    background-color: #2A72FF;
}

#three {
    display: flex;
    justify-content: center;
    margin-top: 135px;
    margin-bottom: 72px;
    margin-left: 115px;
}

.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.im3 {
    margin-left: 100px;
}

.line3 {
    width: 72px;
    height: 3px;
    position: absolute;
    top: 367px;
    left: 5px;
    background-color: #2A72FF;
}

.span1 {
    width: 67px;
    height: 67px;
    font-size: 54px;
    font-family: Humanist777BT-BlackItalicB, Humanist777BT;
    font-weight: normal;
    color: #2A72FF;
    line-height: 67px;
    margin-right: 43px;
}

.span2 {
    width: 364px;
    height: 59px;
    font-size: 42px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 59px;
}

#sp {
    width: 468px;
    height: 72px;
    font-size: 18px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 36px;
}

#QR-code {
    max-width: 2559px;
    height: 338px;
    background: linear-gradient(360deg, #1664FF 0%, #168BFF 100%);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.QR-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 130px;
}

.span3 {
    width: 416px;
    height: 69px;
    font-size: 52px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 69px;
    margin-bottom: 42px;
    margin-right: 180px;
}

.span4 {
    display: block;
    width: 546px;
    height: 28px;
    font-size: 20px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 28px;
    letter-spacing: 6px;
    margin-right: 45px;
}

.div-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}

#a {
    margin-left: 49px;
}

.a1 {
    width: 190px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.a1 a {
    text-decoration: none;
    font-size: 28px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #2A72FF;
    line-height: 40px;
}

.a2 {
    width: 186px;
    height: 56px;
    border-radius: 28px;
    border: 2px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.a2 a {
    text-decoration: none;
    width: 51px;
    height: 42px;
    font-size: 30px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 42px;
}


/* 底部 */

body {
    margin: 0;
    padding: 0;
}

footer {
    width: 100%;
    height: 400px;
    background: #303234;
}

.footer {
    max-width: 1200px;
    height: 340px;
    margin: 0 auto;
}

.footer-top {
    max-width: 1200px;
    height: 340px;
    display: flex;
}

.footer-top .left {
    width: 746px;
    height: 340px;
    padding: 80px 161px 0px 0px;
}

.footer-top .left img {
    width: 202px;
    height: 46px;
    margin-bottom: 10px;
}

.footer-top .left p {
    width: 210px;
    font-size: 15px;
    color: #FFFFFF;
    font-family: MicrosoftYaHei;
    text-align: center;
}


/* 右边 */

.footer-top .right {
    width: 1174px;
    height: 340px;
    padding-top: 80px;
}

.footer-top .right .ul {
    width: 1174px;
    height: 19px;
    display: flex;
}

.footer-top .right ul li {
    color: #fff;
    margin-right: 73px;
}

.footer-top .right ul .li1 {
    margin-right: 0;
}

.footer-top .right ul .li2 {
    margin-left: 32px;
    margin-right: 35px;
}

.footer-top .right ul li a {
    color: #FFFFFF;
    font-size: 14px;
}

.footer-top .right img {
    width: 1174px;
    height: 61px;
}

.footer-top .right div {
    height: 183px;
    width: 1174px;
    display: flex;
}

.footer-top .right div ul {
    width: 334px;
    height: 183px;
    margin-right: 103px;
}

.footer-top .right div ul li {
    width: 334px;
    color: #C8C8C8;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-top .right div ul li span {
    color: #C8C8C8;
}

.footer-top .right div ul li a {
    color: #C8C8C8;
    margin-right: 30px;
}

.footer-top .right div ul .li-1 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}

.f-bottom {
    width: 100%;
    background: #26282A;
}

.footer-bottom {
    max-width: 1200px;
    height: 60px;
    display: flex;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.footer-bottom p {
    width: 1920px;
    height: 60px;
    background: #26282A;
    font-size: 14px;
    color: #C8C8C8;
    font-family: MicrosoftYaHei;
}

.footer-bottom img {
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    left: 260px;
}

.footer li,
a {
    text-decoration: none;
    list-style: none;
}